<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Let's EATTING</title>
</head>
<body>
<h1 align="center">Systena ランチ</h1>
	<form method="POST" action="/Eatting" th:object="${eattingForm}">
		<br />
		<table border="2" width="250px" style="margin: auto;">
			<tr>
				<th width="210px">職人さん</th>
				<th width="40px">選択</th>
			</tr>
			<th:block th:each="cook, cookList : ${eattingForm.cookService.cookList}" >
				<tr>
					<td>[[${cook.name}]]</td>
					<td>
					<div th:unless="${cookList.index}">
						<input type="radio" name="cook" th:value="${cookList.index}" checked/>
					</div>
					<div th:if="0!=${cookList.index}">
						<input type="radio" name="cook" th:value="${cookList.index}" />
					</div>
					</td>
				</tr>
			</th:block>
		</table>

		<table border="2" width="250px" style="margin: auto;">
			<tr>
				<th width="210px">お客さん</th>
				<th width="40px">選択</th>
			</tr>
			<th:block th:each="customer, customerList : ${eattingForm.customerService.customerList}">
				<tr>
					<td>[[${customer.name}]]</td>
					<td>
					<div th:unless="${customerList.index}">
						<input type="radio" name="customer" th:value="${customerList.index}" checked/>
					</div>
					<div th:if="0!=${customerList.index}">
						<input type="radio" name="customer" th:value="${customerList.index}" />
					</div>
					</td>
				</tr>
			</th:block>
		</table>

		<table border="2" width="250px" style="margin: auto;">
			<tr>
				<th width="210px">食材</th>
				<th width="40px">選択</th>
			</tr>
			<th:block th:each="food, foodList : ${eattingForm.foodstuffService.foodList}">
				<tr>
					<td>[[${food.name}]]</td>
					<td>
					<div th:unless="${foodList.index}">
						<input type="radio" name="food" th:value="${foodList.index}" checked/>
					</div>
					<div th:if="0!=${foodList.index}">
						<input type="radio" name="food" th:value="${foodList.index}" />
					</div>
					</td>
				</tr>
			</th:block>
		</table>

		<br />
		<div align="center">
			<input type="submit" name="eatting" value="ご注文！" />
		</div>
		<br />
		<div align="center">
			<input type="submit" name="account" value="おあいそ！" />
		</div>
		<br />
		<div th:if="${eattingForm.message}">
			<table border="2" width="400px" style="margin: auto;">
			<tr>
			<td>
				[[${eattingForm.message}]]
			</td>
			</tr>
			</table>
		</div>
	</form>

</body>
</html>